<h1 class="mt-4">New Album</h1>

<%= simple_form_for(@album) do |f| %>
<%= f.input :name %>
<%= f.input :year %>
<%= f.input :artist, label: "Artist:", collection: @artists_names, input_html: { class: "beautiful-dropdown" } %>
<%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

<%= link_to "Back to albums", artists_path, class: "btn btn-primary" %>
