<div class="container">
  <div class="d-flex justify-content-start">
    <h1 class="mt-4">New Album</h1>
  </div>

  <% if policy(@album).create? %>
    <div>
      <%= simple_form_for(@album) do |f| %>
        <%= f.input :name %>
        <%= f.input :year, placeholder: 'Needs to follow the format: yyyy' %>
        <%= f.input :artist, label: "Artist:", collection: @artists %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <%= link_to "Back to artist list", artists_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
  <% end %>

</div>
